<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FRAGRANCE STORE</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="user/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="user/css/style.css" type="text/css">
</head>
 <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./login"><img src="user/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            {{!-- <li class="active"><a href="./index.html">Home</a></li> --}}
                            {{!-- <li><a href="#">Women’s</a></li> --}}
                            {{!-- <li><a href="#">Men’s</a></li> --}}
                            {{!-- <li><a href="./shop.html">Shop</a></li> --}}
                            {{!-- <li><a href="#">Pages</a> --}}
                                {{!-- <ul class="dropdown"> --}}
                                    {{!-- <li><a href="./product-details.html">Product Details</a></li> --}}
                                    {{!-- <li><a href="./shop-cart.html">Shop Cart</a></li> --}}
                                    {{!-- <li><a href="./checkout.html">Checkout</a></li> --}}
                                    {{!-- <li><a href="./blog-details.html">Blog Details</a></li> --}}
                                {{!-- </ul>
                            </li> --}}
                            {{!-- <li><a href="./blog.html">Blog</a></li>
                            <li><a href="/account">Profile</a></li> --}}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            
                            {{!-- {{#if user}} --}}
                            {{!-- {{user.name}} --}}
                            {{!-- <a href="/logout">Logout</a> --}}
                            {{!-- {{else}}
                           <a href="/login">Login</a>
                            {{/if}} --}}
                            
                            {{!-- <a href="#">Register</a> --}}
                        </div>
                        <ul class="header__right__widget">
                            {{!-- <li><span class="icon_search search-switch"></span></li> --}}
                            {{#if user}}
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="/cart"><span class="icon_bag_alt"></span>
                                <div class="tip">{{cartCount}}</div>
                            </a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

<section class="vh-100 bg-image"
  >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h4 class="text-uppercase text-center mb-5">Create a new account</h4>

              <form action="/signup" id="userSignup" method="post">

                <div class="form-outline mb-4">
                  <label class="form-label " for="form3Example1cg"  >First Name</label>
                  <input type="text" name="name"  id="name" class="form-control form-control-lg "  />
                  
                </div>  
                <div class="form-outline mb-4">
                  <label class="form-label " for="form3Example1cg"  >Second Name</label>
                  <input type="text" name="second_name"  id="second_name" class="form-control form-control-lg "  />
                  
                </div> 

                <div class="form-outline mb-4">
                   <label class="form-label" for="form3Example3cg">Your Email</label> 
                  <input type="email" name="email" id="email" class="form-control form-control-lg" />
                  
                </div>
                <div class="form-outline mb-4">
                   <label class="form-label" for="form3Example3cg">Phone Number</label>
                  <input type="tel" name="phone_number" id="phone_number" class="form-control form-control-lg"  />
                 
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" name="password" id="password" class="form-control form-control-lg"  />
                  
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Confirm your password</label>
                  <input type="password" name="confirmPassword" id="confirmPassword" class="form-control form-control-lg" />
                  
                </div>

                {{!-- <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div> --}}

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-dark btn-block btn-lg gradient-custom-4 ">Register</button>
                </div>

                {{!-- <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                    class="fw-bold text-body"><u>Login here</u></a></p> --}}

              </form>
          
            

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>




<style>
  .error{
    color: rgb(242, 9, 9);
  }
</style>

<script>
  jQuery.validator.addMethod("lettersonly", function(value, element) {
  return this.optional(element) || /^[a-z]+$/i.test(value);
}, "Letters only please"); 

    $("#userSignup").validate({


        rules: {
            name: {
                required: true,
                minlength: 2,
                lettersonly:true

            },
             second_name: {
                required: true,
                minlength: 2,
                lettersonly:true
            },

            email: {
                required: true,
                email: true
            },

            phone_number: {
                required: true,
                minlength: 10,
                maxlength:10
            },

            password: {
                required: true,
                minlength: 6,
                maxlength: 10

            },

            confirmPassword: {
                required: true,
                equalTo: '#password',
                minlength: 6,
                maxlength: 10
            }


        },
        messages: {
            Password: {
                required: "the password is required"

            },
            confirm_password: {
                equalTo: "enter the same password"

            },
        }
    })


</script>